<!-- <p>login works!</p>
<a routerLink="/homepage" routerLinkActive="active">link</a> -->
<section>
    <div class="page">
        <div class="login-window">
            <div class="logo">
                Codegram
            </div>

            <div class="login-fields">
                <input type="text" [placeholder]="">
                <input type="text" [placeholder]="">
                <button></button>
            </div>

            <div>
                infotext
            </div>
        </div>

        <div class="register-window">
            Du hast kein Konto? Registrieren
        </div>
    </div>
</section>